/* root */
body {
    overflow-x: hidden;
}

/* custom menu */
.nasi {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/nasi.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ayam {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/ayam-bakar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.urap {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/Urap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.sambal {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/sambal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.kerupuk {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/kerupuk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.teriyaki {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/daging.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.gerejeg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/gerejeg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bihun {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/bihun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.semangka {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/semangka.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rendang {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/rendang.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.capcay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/capcay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.perkedel {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/perkedel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cumi {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/cumi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.empal {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/empal-daging.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sop {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/sop-kimlo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.lalap {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/lalap.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.acar {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/acar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jeruk {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    url('./asset/jeruk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}